# Copy this file to .env and fill in your email credentials
EMAIL_USER=your.email@example.com
EMAIL_PASS=chva lsmt lnoi ovon
EMAIL_TO=your.receiving.email@example.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
PORT=3000
